.greetings {
    animation: greetings 0.5s steps(1) infinite 0s forwards;
}

@keyframes greetings {
    0% {
        background-position: -231px 0px;
    }

    50% {
        background-position: -462px 0px;
    }

    100% {
        background-position: -462px 0px;
    }
}

/* .idle {
    background-position: 0px 0px;
    background-size: 1300px;
}

@keyframes greetings {
    0% {
        background-position: -231px 0px;
    }

    100% {
        background-position: -231px 0px;
    }
}

@keyframes greetings2 {
    0% {
        background-position: -462px 0px;
    }

    100% {
        background-position: -462px 0px;
    }
}

@keyframes idle {
    0% {
        background-position: -462px 0px;
    }

    100% {
        background-position: 0px 0px;
    }
} */