main {
    display: flex;
}

main div.mapache-frame {
    width: 231.66px;
    height: 200px;
    /* width: 600px;
    height: 600px; */
    background-image: url("/assets/img/mapache/sprite2.png");
    background-repeat: no-repeat;
}

main div.tooltip {
    position: absolute;
    background-color: rgb(67, 67, 67);
    border-radius: 15px;
    border: 4px solid rgb(147, 147, 147);

    width: max-content;
    max-width: max-content;
    height: min-content;

    padding: 0px;
    left: 125px;
    top: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;

    transition: all 0.9s;
}

main div.tooltip.show-tooltip {

    transition: all 0.9s;
    padding: 15px;
    position: absolute;
    background-color: rgb(67, 67, 67);
    border-radius: 15px;
    border: 4px solid rgb(147, 147, 147);

    left: 199px;
    top: 20px;

    visibility: visible;
}

main div.hungryBar,
main div.sleepBar {
    position: absolute;
    bottom: 0;
    left: 35px;

    height: 20px;
    width: 150px;

    background-color: #d4d4d4;

    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;


}

main div.sleepBar {
    bottom: 50px;
}

main div.hungry {
    bottom: 70px;
}

div.hungryBar div.hungryBarStatus,
div.sleepBar div.sleepBarStatus {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #7f7f7f;

}

div.hungryBar div.hungryText,
div.sleepBar div.sleepText {
    position: relative;
    text-align: center;

    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 20px;
    width: 150px;

    top: -20px;
}