main {
    display: flex;
}

main div.mapache-frame {
    width: 695px;
    width: 231.66px;
    height: 200px;
    background-image: url("/assets/img/mapache/sprite.png");
    background-repeat: repeat-x;

    background-size: cover;

}

main div.tooltip {
    position: absolute;
    background-color: rgb(67, 67, 67);
    border-radius: 15px;
    border: 4px solid rgb(147, 147, 147);

    width: max-content;
    max-width: max-content;
    height: min-content;

    padding: 0px;
    left: 125px;
    top: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;

    transition: all 0.9s;
}

main div.tooltip.show-tooltip {

    transition: all 0.9s;
    padding: 15px;
    position: absolute;
    background-color: rgb(67, 67, 67);
    border-radius: 15px;
    border: 4px solid rgb(147, 147, 147);

    left: 199px;
    top: 20px;

    visibility: visible;
}