
main div.mapache-frame{
     width: 695px; 
    width: 231.66px;
    height: 200px;
    background-image: url("/assets/img/mapache/sprite.png");
    background-repeat:repeat-x;

    background-size: cover;
    
}

main div.tooltip{
    position: absolute;
    background-color: rgb(67, 67, 67);

    border-radius: 2vw;
    border: 4px solid rgb(147, 147, 147);

    top: 40vh;
    left: 50vh;

    width: max-content;
    max-width: 50vw;
    height: max-content;

    padding: 18px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main div.tooltip .tooltip-inner{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}